<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/shop_search?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
<!--        <property name="hibernate.connection.password">C0R0NA@$#shop%R&V</property>-->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.pool_size">1</property>
    <mapping resource="com/shop/domain/Area.hbm.xml"/>
    <mapping resource="com/shop/domain/Item.hbm.xml"/>
    <mapping resource="com/shop/domain/PackageHasItem.hbm.xml"/>
    <mapping resource="com/shop/domain/Category.hbm.xml"/>
    <mapping resource="com/shop/domain/District.hbm.xml"/>
    <mapping resource="com/shop/domain/UserLevel.hbm.xml"/>
    <mapping resource="com/shop/domain/Province.hbm.xml"/>
    <mapping resource="com/shop/domain/Shop.hbm.xml"/>
    <mapping resource="com/shop/domain/PackageN.hbm.xml"/>
    <mapping resource="com/shop/domain/UserDetails.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
